
/*    COLOR CODES    */
/*
    White: #FFFFFF
    Gray: ##393939
    Orange: #FE9C46
 */


/*    UNIVERSAL PROPS    */
html, body {
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #393939;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    color: #FE9C46;
    text-align: center;
}
h2 { font-size: 40px; }
a, a:hover, a:visited {
    border: none;
    text-decoration: none;
    outline: none;
    color: #393939;
}
::selection {
    color: black;
    background: #E9F0F9;
}
::-moz-selection {
    color: black;
    background: #E9F0F9;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.button {
    padding: 15px 35px;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    background-color: #FE9C46;
    -webkit-box-shadow: 0 0 20px 0 rgba(254, 156, 70, 0.5);
    box-shadow: 0 0 20px 0 rgba(254, 156, 70, 0.5);
    transition: box-shadow 0.15s ease-in-out;
    z-index: 10;
    outline: transparent none;
    cursor: pointer;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.button:hover {
    -webkit-box-shadow: 0 0 24px 3px rgba(254, 156, 70, 0.5);
    box-shadow: 0 0 24px 3px rgba(254, 156, 70, 0.5);
    outline: none;
}
button.button:focus {
    outline: none;
}
.underline, a.underline, a.underline:visited {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #FE9C46;
}
.underline:after, a.underline:after, a.underline:visited:after {
    content: "";
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: #FE9C46;
    transition: 0.4s;
}
.underline:hover:after, a.underline:hover:after, a.underline:visited:hover:after {
    width: 100%;
}


/*    NAV BAR    */
#navSection {
    position: fixed;
    width: 0;
    height: 100vh;
    font-size: 32px;
    font-family: "Roboto Slab", serif;
    color: #393939;
    z-index: 999;
}
#navSection > nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: right;
}
#navSection nav ul {
    list-style: none;
}
#navSection nav ul li {
    position: relative;
    margin: 10px 0;
}
#navSection nav ul li a {
    line-height: 2.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    opacity: .5;
    font-size: 20px;
    transition: all ease-out 300ms;
}
#navSection nav ul li:hover a { opacity: 1; }


/*    HOME    */
#homeSection {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    position: relative;
    text-align: center;
}
#homeSection > .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    text-align: left;
}
#homeSection > .title > * {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
#homeSection > .title > img {
    width: 250px;
}
#homeSection > .title > h1 {
    white-space: normal;
    color: #393939;
    margin-left: 75px;
    width: 380px;
}
#homeSection > .title > h1 > span { color: #FE9C46; }
#homeSection > .desc {
    position: relative;
    text-align: center;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    top: 58%;
}
#homeSection > .desc > p {
    text-align: center;
}
#homeSection > .desc button { margin-top: 40px; }


/*    EVENTS    */
#eventSection {
    position: relative;
    width: 100vw;
    height: 20vh;
    text-align: center;
    background-color: #F0F0F0;
    margin-bottom: 100px;
}
#eventSection > .wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}
#eventSection .slick-slider, #eventSection .slick-list, #eventSection .slick-track, #eventSection .slick-slide, #eventSection .slick-slide > div { height: 100%; }
#eventSection .slider-card {
    position: relative;
    margin: 0 125px;
    width: 1000px !important;
    height: 100%;
    z-index: 5;
    top: 50%;
    transform: translateY(-32%);
}
#eventSection > .wrapper a.h3 {
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    margin-bottom: 25px;
}
#eventSection > .wrapper p {}
#eventSection .underline:after, #eventSection a.underline:after, #eventSection a.underline:visited:after { height: 3px; }
#eventSection .arrow {
    z-index: 105;
    position: absolute;
    bottom: 250px;
    width: 35px;
    height: 60px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    opacity: 0.9;
    cursor: pointer;
}
#eventSection .arrow.left {
    background: url("assets/arrow-left.svg") no-repeat;
    left: 50%;
    transform: translateX(-200px);
}
#eventSection .arrow.right {
    background: url("assets/arrow-right.svg") no-repeat;
    right: 50%;
    transform: translateX(200px);
}
#eventSection .slick-dots { position: absolute; bottom: 20px; }
#eventSection .slick-dots li button:before {
    font-size: 9px;
    opacity: .3;
    color: #666666;
}
#eventSection .slick-dots li { width: 15px; }
#eventSection .slick-dots li button { opacity: .8; }
#eventSection .slick-dots li.slick-active button:before { opacity: .9; }
#eventSection .slick-list { overflow: visible !important; }


/*    TEAM    */
#teamSection {
    margin: 0;
    padding-bottom: 100px;
    text-align: center;
}
#teamSection h2 { margin-bottom: 75px; }
#teamSection .row + .row { margin-top: 50px; }
#teamSection .col-md-4 > * + * { margin-top: 20px; }
#teamSection img {
    width: 200px;
    border-radius: 100%;
}
#teamSection h5 { font-size: 24px; }
#teamSection h6 { font-size: 19px; color: #555555; }
#teamSection p { color: #666666; font-style: italic; }


/*    SPONSORS    */
#sponsorsSection {
    margin: 0;
    padding-bottom: 100px;
}
#sponsorsSection h2 { margin-bottom: 75px; }
#sponsorsSection img {
    height: 150px;
    width: auto;
}
#sponsorsSection .col-sm-6 { text-align: center; }


/*    CONTACT    */
#contactSection {
    margin: 0;
    text-align: center;
}
#contactSection h2 { margin-bottom: 50px; }
#contactSection h3 {
    color: #393939;
    font-size: 24px;
}
#contactSection button.button {
    margin: 25px auto 30px;
    background: none;
    color: #FE9C46;
    border: 3px solid #FE9C46;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 2px 30px rgba(254, 156, 70, 0.3);
    box-shadow: 0 2px 30px rgba(254, 156, 70, 0.3);
    text-shadow: 0 1px 30px rgba(254, 156, 70, 0.6);
}
#contactSection button.button:hover {
    -webkit-box-shadow: 0 2px 40px 3px rgba(254, 156, 70, 0.5);
    box-shadow: 0 2px 40px 3px rgba(254, 156, 70, 0.5);
    text-shadow: 0 5px 22px 3px rgba(254, 156, 70, 0.7);
}
#contactSection h4 {
    color: #393939;
    font-size: 18px;
    margin-top: 40px;
}
#contactSection #contact-info {
    margin-top: 20px;
}
#contactSection #contact-info img {
    width: 50px;
    transition: all .2s ease-in-out;
}
#contactSection #contact-info img:hover {
    transform: scale(1.1);
}
#contactSection #contact-info :not(:first-child) { margin-left: 10px; }


/*    COPYRIGHT    */
#copyrightSection {
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: #393939;
    margin-top: 50px;
    overflow-y: hidden;
}
#copyrightSection > p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*    MEDIA QUERY    */
@media screen and (max-width: 1500px) {}


/*    ANIMATIONS    */

